@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.c-page {
    background-color: black;
    color: red;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.c-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 72px;
}

.c-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.c-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
}

.f-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-input {
    display: flex;
    flex-direction: column;
}

.c-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding-right: 1px;
    padding-left: 1px;
    gap: 10px;
}

.c-links a{
    color: red;
}